
body{
    background-color: #d6e2f0;
    text-align: center;
}

img{
    width: 80%;
    margin: 50px 30px 20px 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;

}


.container{
    width: 40%;
    height: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #fff;
    position: relative;
    left: 28%;
    border-radius: 25px;
    min-height: 768px;

}


.writing{
    position: relative;
    padding: 10px 50px 40px 50px;
    margin-bottom: 50px;
    
}

.attribution 
{ font-size: 11px; 
text-align: center;
padding-top: 20px;
padding-bottom: 10px; }
.attribution a 
{ color: hsl(228, 45%, 44%); }
